$color-yellow: #FC7702;
$color-red: #F50902;
$color-black: #000;
$color-dark: #263425;
$color-white: #FFF;
$color-gray: #F4F2F2;

$radius-normal: 25px;
$radius-small: 16px;

* {
    --container-width: 1420px;
    --container-wide-width: 1650px;

    --text-size-huge: 71px;
    --text-size-large: 49px;
    --text-size-medium: 40px;
    --text-size-normal: 30px;
    --text-size-small: 20px;

    --spacing-huge: 150px;
    --spacing-large: 41px;
    --spacing-normal: 21px;
    --spacing-small: 16px;
}

@media screen and (max-width: 1650px) {
    * {
        --container-width: 1020px;
        --container-wide-width: 1220px;

        --text-size-huge: 50px;
        --text-size-large: 40px;
        --text-size-medium: 30px;
        --text-size-normal: 20px;
        --text-size-small: 16px;

        --spacing-huge: 150px;
        --spacing-large: 41px;
        --spacing-normal: 21px;
        --spacing-small: 16px;
    }
}

@media screen and (max-width: 1250px) {
    * {
        --container-width: 700px;
        --container-wide-width: 800px;

        --text-size-huge: 40px;
        --text-size-large: 30px;
        --text-size-medium: 20px;
        --text-size-normal: 16px;
        --text-size-small: 16px;

        --spacing-huge: 60px;
        --spacing-large: 31px;
        --spacing-normal: 20px;
        --spacing-small: 16px;
    }
}

@media screen and (max-width: 800px) {
    * {
        --container-width: 350px;
        --container-wide-width: 370px;

        --text-size-huge: 30px;
        --text-size-large: 22px;
        --text-size-medium: 18px;
        --text-size-normal: 16px;
        --text-size-small: 14px;

        --spacing-huge: 60px;
        --spacing-large: 25px;
        --spacing-normal: 20px;
        --spacing-small: 16px;
    }
}